* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
// Variables 


$color-letra: white;
$color-fondo: blue;
$color-footer: black;

// Etiquetas

nav {
   margin: 3%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      li {
        margin: 5%;
      }
   }
}

h1 {
   font-size: 3rem;
}

h2 {
   color: $color-letra;
}

img  {
   width: 35%;
   background: linear-gradient();
}

footer {
   color: $color-letra;
   background-color: $color-footer;
}

// Selectores id

#parte_2 {
   background-image: url("../resource/img/escritorio.jpg");
   background-size: cover;
   height: 100vh;
}

#mensaje {
   font-family: Mulish;
}
#parte_1, #parte_3 {
   display: flex;
}

#copy {
   display: flex;
   justify-content: center;
   align-items: center;
   h6 {
      padding: 1%;
   }
}

#terms {
   display: flex;
   justify-content: center;
   align-items: center;
   li {
      list-style: none;
   }
}

// Selectores clase

// Botones

%btn {
   border-radius: 20px;
   padding: 0.7em 1.5em;
   margin-right: 10px;
   margin-bottom: 10px;
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
}

.btn-enviar {
   @extend %btn;
   color: $color-letra;
   background-color: $color-fondo;
}

.btn-factoria {
   @extend %btn;
   color: $color-letra;
   border-bottom: $color-letra;
   background-color: transparent;

}