* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
// Variables 


$color-primary: white;
$color-secondary: blue;
$color-footer: black;

// Mixins 

@mixin flex ($display, $just-cont, $align) {
   display: $display;
   justify-content: $just-cont;
   align-items: $align;
}

// Etiquetas

nav {
   margin: 0;
   width: 100%;
   background-color: $color-primary;
   @include flex(flex, space-around, center);
   list-style: none;
   position: fixed;
   #logo {
      font-size: 1.5rem;
      font-weight: 800;
   }
   ul {
      @include flex(flex, center, center);
      list-style: none;
      li {
        margin-right: 5%;
        margin-left: 5%;
      }
   }
}

h1 {
   font-size: 3rem;
}

h2 {
   color: $color-primary;
}

img {
   margin-top: 11%;
   width: 45%;
}

footer {
   color: $color-primary;
   background-color: $color-footer;
}

// Selectores id

#parte_2 {
   background-image: url("../resource/img/escritorio.jpg");
   background-size: cover;
   height: 100vh;
}

#mensaje {
   font-family: Mulish;
}

#parte_1, #parte_3 {
   @include flex(flex , justify-content, center );
}

#copy {
   @include flex(flex, center, center);
   h6 {
      padding: 1%;
   }
}

#terms {
   @include flex(flex, center, center );
   li {
      list-style: none;
   }
}

// Selectores clase

// Botones

.btn {
   border-radius: 20px;
   padding: 0.7em 1.5em;
   margin-right: 10px;
   margin-bottom: 10px;
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
}

.btn-enviar {
   @extend .btn;
   color: $color-primary;
   background-color: $color-secondary;
}

.btn-factoria {
   @extend .btn;
   color: $color-primary;
   border-bottom: $color-primary;
   background-color: transparent;

}



